# Build artifacts
*.egg-info/
__pycache__/
*.pyc
dist/
build/

# Audio files (samples)
*.wav
*.m4a
*.mp3

# OS
.DS_Store

# Model cache (downloaded separately)
~/.cache/

#virtual environments
venv/
env/
.venv/
.env/

# Logs
*.log
